@font-face {
  font-family: Satoshi-normal;
  src: url("/assets/fonts/Satoshi-Regular.otf");
}

@font-face {
  font-family: Satoshi-medium;
  src: url("/assets/fonts/Satoshi-Medium.otf");
}

@font-face {
  font-family: Satoshi-bold;
  src: url("/assets/fonts/Satoshi-Bold.otf");
}

@font-face {
  font-family: integral-cf;
  src: url("/assets/fonts/Fontspring-DEMO-integralcf-bold.otf");
}

@import "tailwindcss";

body {
  font-family: "Satoshi-normal", sans-serif;
}

.satoshi-medium {
  font-family: "Satoshi-medium", sans-serif;
}

.satoshi-bold {
  font-family: "Satoshi-bold", sans-serif;
}

.font-integral {
  font-family: "integral-cf", sans-serif;
}
.font-numeric {
  font-variant-numeric: lining-nums proportional-nums;
}
.sign-up-link::after {
  position: absolute;
  content: "";
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
}

.link-text::after {
  position: absolute;
  content: "";
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #000;
  left: 0;
  transition: width 300ms linear;
}

.link-text:hover::after {
  width: 100%;
}
.swiper-wrapper {
  display: flex;
}

.social-icon svg path {
  transition: all 300ms linear;
}
.social-icon:hover svg path {
  fill: white;
}

.checkout-arrow svg path {
  fill: white;
}
.group:hover .checkout-arrow svg path {
  fill: black;
}

.happy-swiper .swiper-wrapper .swiper-slide {
  filter: blur(4px);
}

.happy-swiper .swiper-wrapper .swiper-slide-active,
.swiper-slide-next,
.swiper-slide-prev {
  filter: blur(0px) !important;
}

@media (max-width: 767.98px) {
  .search-icon svg path {
    fill-opacity: 1;
  }

  .versace-icon svg {
    width: 116px;
    height: 23px;
  }

  .zara-icon svg {
    width: 63;
    height: 26px;
  }

  .gucci-icon svg {
    width: 109px;
    height: 25px;
  }

  .prada-icon svg {
    width: 127px;
    height: 21px;
  }

  .ck-icon svg {
    width: 134;
    height: 21px;
  }
}
